html, body {
  	font-family: 'Arial', sans-serif;
  	margin: 0;
  	overflow-x: hidden;
}

hr {
	margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.header {
    background: #44BB88;
    color: #ffffff;
    display: inline-block;
    width: 100%;
}

.container__base {
	background: #000000;
}

.heroContainer {
	background: url(../images/football-field.jpg) no-repeat center center fixed;
	width: 100%;
	min-height: 100vh;
	color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container__content,
.topContainer {
	margin: 0 auto;
	max-width: 1080px;
}

.topContainer {
	min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.notification {
	background: #000000;
	color: #ff0000;
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
}

.notificationHeader {
	display: inline-block;
}

.notificationHeader .notificationHeaderClose {
	position: absolute;
	cursor: pointer;
    right: 0;
    top: 0;
    padding-right: 2rem;
    text-decoration: underline;;
}

.notificationText {
	margin: 0;
}

.headerLink {
	color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 1.75rem;
    margin: 1.85rem 6rem 1.25rem 0rem;
}

#headerLink-main {
	background: #fcab10;
	border-radius: 3px;
	color: #ffffff;
	padding: 0.5rem;
	text-align: center;
	width: 125px;
}

#headerLink-main:hover {
	border-bottom: 0;
}

.headerLink.active {
	border-bottom: 2px solid #ffffff;
}

.headerLink:hover {
	border-bottom: 2px solid #ffffff;
    color: white;
    text-decoration: none;
}

.logo {
	float: left;
	width: 350px;
    margin-left: 8rem;
}

.headerLinks {
	float: right;
}

.home__content {
}

.home__content .company {
	background: #44BB88;
	color: #ffffff;
	font-weight: bold;
}

.home__content h1 {
	margin-bottom: 0;
    margin-top: 10rem;
    font-size: 7.7rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-weight: bold;
}

.home__content p {
	margin: 0;
	padding: 0;
}

.container__about h2 {
	font-size: 1.25rem;
}

.container__about p {
	margin: 0;
}

.container__text {
	background: #ffffff;
	color: #000000;
	padding: 1rem 2rem 1rem 2rem;
	margin: 2rem 0 0 0;
}

.cta-button {
	background: #ffffff;
    text-decoration: none;
    color: #000000;
    border: 1px solid white;
    padding: 1.25rem;
    display: block;
    width: 250px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.container__button:hover {
	background: white;
	color: #434343;
  	transition: 0.5s;
}

.about__content {
	display: none;
}

.box {
	padding: 1rem;
}

.box h3 {
	text-align: center;
}

.tagline {
	display: block;
	font-size: 5rem;
	text-align: left;
}

#btn__main {
	background: #fcab10;
    color: #ffffff;
    font-weight: bold;
}

#btn__main:hover,
#headerLink-main:hover  {
	background: #E39200;
}
	

.btn {
    background: #ffffff;
    padding: 1rem;
    padding-left: 0.5rem;
    color: black;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    padding-right: 0.5rem;
    margin-top: 2rem;
    font-size: 2.5rem;
}

.navbar-toggler {
	background: none;
	border: 0;
	float: right;
	margin-top: 1.4rem;
}

.navbar-toggler-icon {
	background-image: url(../images/hamburger.png);
    height: 20px;
    width: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 25px 20px;
}

.howItWorksContainer {
	margin-top: 7rem;
}

.howItWorksContainer #btn__main {
	font-size: 2rem;
    margin: 0 auto;
    float: none;
    width: 100%;
    display: block;
    margin-top: 5rem;
}

.howItWorksSecondaryHeading {
	text-align: center;
    color: #fcab10;
    font-size: 3rem;
    margin-top: 5rem;
}

#howItWorksHeading {
	display: block;
	text-align: center;
	width: 100%;
}

#howItWorksHeading::after {
	content: "";
    border-bottom: 5px solid #fcab10;
    width: 450px;
    display: block;
    height: 20px;
    margin: 0 auto;
}

.card {
	border: 0;
	padding: 3rem;
}

.card-body {
	min-height: 220px;
}

.card-title {
	font-size: 2.5rem;
	text-align: center;
}

.card-img-top {
	width: 80px;
    margin: 0 auto;
    display: block;
}

#selectPlayerLogo {
	width: 80px;
}

#enjoyGameLogo {
	width: 115px;
}

#jackpotLogo {
	width: 138px;
}

.countdownContainer {
	background: #000000;
	color: #ffffff;
	min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdownContainer p {
	font-size: 6rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;

}

.footer {
	background-color: #000000;
	color: #808080;
}

.footerLinks {
	text-align: center;
}

.footerLinks a {
	color: #808080;
	text-decoration: none;
}

.footerLinks a:hover {
	text-decoration: underline;
}

.footer p {
	margin: 0;
}

.jackpotContainer {
	margin: 0 auto;
	text-align: center;
	font-size: 3rem;
}

#jackpot {
	display: block;
    font-size: 8rem;
    font-weight: bold;
}

.jackpotDisclaimer a {
	color: #ffffff;
	text-decoration: underline;
}


@media screen and (max-width: 900px) {

	.headerLinks {
    	float: none;
	}
}


@media screen and (min-width: 768px) {

	.navbar-expand-lg .navbar-toggler {
    	display: none;
	}

}

/* elements below 768 */
@media screen and (max-width: 768px) {

	#btn__main {
		margin: 2rem 0;
	}

	.btn {
		float: none;
		margin: 0 auto;
		width: 100%;
	}

	.logo {
		margin-left: 0;
	}

	.navbar-collapse {
		clear: both;
	}

	.headerLink {
		display: block;
	}

	.tagline {
		display: block;
		font-size: 6rem;
		margin-top: 1.2rem;
	}

	.jackpotContainer {
		margin-top: 5rem;
	}

	.howItWorksSecondaryHeading {
		margin: 0;
	}
}