html, body {
  	font-family: 'Arial', sans-serif;
  	margin: 0;
  	overflow-x: hidden;
}

.heroContainer {
	background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	width: 100%;
	min-height: 100vh;
	color: white;
}

.vertical-height-100 {
	min-height: 100vh;
	display: flex;
    align-items: center;
}

.topContent {
	min-height: 350px;
	margin-top: 5rem;
}


.welcomeText {
	font-size: 8rem;
	text-align: center;
}

.redirectionMsg {
	font-size: 2rem;
	text-align: center;
}